// resets placeholders

%reset-margin {
  margin: 0;
}

%reset-padding {
  padding: 0;
}

%reset {
  margin: 0;
  padding: 0;
}

%reset-list {
  @extend %reset;
  list-style: none;
}

%reset-content {
  content: none;
}
