%transition-basic {
  transition-duration: 0.38s;
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

%transition-slow {
  transition-duration: 0.86s;
}

%transition-property-all {
  transition-property: all;
}

%transition-property-color {
  transition-property: color;
}

%transition-property-margin {
  transition-property: margin;
}

%transition-property-opacity {
  transition-property: opacity;
}

%transition-property-fill {
  transition-property: fill;
}

%transition-property-menu {
  transition-property: background, color;
}

%transition-property-cosmetic {
  transition-property: background, color, border, opacity, fill;
}

%transition-property-icon {
  transition-property: background, color, border, opacity, fill;
}
