@import "sass-essentials";

.page {
  @include page-flex;

  // Header
  &__header {
    inline-size: 100%;
  }

  // Main
  &__main {
    inline-size: 100%;
  }

  // Footer
  &__footer {
    inline-size: 100%;
    margin-block-start: auto;
  }
}
