
// Padding
$button-padding-small:  0.1em 0.6em 0.15em;
$button-padding-normal: 0.625em 0.9em 0.6em;
$button-padding-large: 1.15em 0.8em 1.25em;

// Border
$button-border-radius: 3px;
$button-border-width: 1px;

// Various
$button-line-height: 1.5;
$button-font-weight-small: 400;
$button-font-weight-normal: 400;
$button-font-weight-large: 400;
