//@import url('https://fonts.googleapis.com/css?family=Palanquin:300,500');

// BASE CORPORATE FONTS
$fallback-font: 'Arial', 'Helvetica', 'sans-serif';

$palanquin: 'Palanquin', 'sans-serif';


// $raleway : 'Raleway', 'Arial', 'Helvetica', 'sans-serif';
// $source-sans: 'Source Sans Pro', 'Arial', 'Helvetica', 'sans-serif';
// $roboto: 'Roboto', sans-serif;
// $teko: 'Teko', sans-serif;

// BASE FONTS
//$font-path: '../fonts/';
$primary-font: $palanquin;
$secondary-font: $fallback-font;

// BASE FONTS SIZES (NICE TO HAVE IN GOLDEN RATIO)
$h1-font-size: 2.8rem; // 55
$h2-font-size: 2.8rem; // 34
$h3-font-size: 2.4rem; // 21
$h4-font-size: 1.8rem; // 13
$h5-font-size: 1.4rem; // 8
$h6-font-size: 1.2rem; // 5


// BASE FONTS SETTINGS
$base-font-size-larger: $h4-font-size;
$base-font-size: $h4-font-size;
$base-font-size-smaller: $h5-font-size;

$base-line-height: 1.6;
$base-line-height-heading: 1.2;
