@import "sass-essentials";

.page-header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: var(--fava-header);

  @media (prefers-color-scheme: dark) {
    border-block-end: thin solid var(--fava-border);
  }
}
