@import "sass-essentials";

.page-header {
  --fava-focus-outline: currentColor;

  padding-block: 1rem;
  background-color: var(--fava-header);

  @media (prefers-color-scheme: dark) {
    border-block-end: thin solid var(--fava-border);
  }

  @media screen and (forced-colors: active) {
    border-block-end: thin solid transparent;
  }
}
