#gradient-vertical {
  //--color-stop-1: #7C6354;
  //--color-stop-2: #7C6354;
  //--color-stop-3: #564138;
  //
  //--color-stop-1: #06AED5;
  //--color-stop-2: #06AED5;
  //--color-stop-3: #0FA3B1;
  //
  //--color-stop-1: #5a4b60;
  //--color-stop-2: #5a4b60;
  //--color-stop-3: #413C58;
  //
  //--color-stop-1: #754668;
  //--color-stop-2: #754668;
  //--color-stop-3: #310A31;
  //
  // --color-stop-1: #3A7CA5;
  // --color-stop-2: #3A7CA5;
  // --color-stop-3: #2F6690;

  --color-stop-1: #0C7489;
  --color-stop-2: #0C7489;
  --color-stop-3: #2E6171;

}

.icon {
  $icon-size: 4rem;

  display: block;
  height: $icon-size;
  width: $icon-size;
  margin: auto;

  &__path {
    fill: $petrol;

    @supports(--css: variables) {
      fill: url(#gradient-vertical) $petrol;
    }
  }
}
