@import "sass-essentials";

.footer-navigation {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: end;
  font-size: $h5-font-size;
  margin-block: 0.4rem;

  &__items {
    list-style-type: '';
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    gap: 0.8rem clamp(1.2rem, 2vw, 1.8rem);
  }

  &__item {
    // flex-grow: 1;
  }

  &__link {
    @include link();

    padding-block: 0.4rem;
  }
}
