// Add default font here if needed.
//@include font-face('Fira Sans', 100, italic, 'FiraSans-UltraLightItalic');

@include global-box-sizing;

// First step define your font-face families if necessary! Example below.
// @include font-face('Fira Sans', 100, italic, 'FiraSans-UltraLightItalic');

html,
body {
  //overflow-x: hidden; // NECESSARY FOR EXTENDING LAYOUT
}

html {
  @extend %page-flex;
  // The use of rem units requires the font-size on the HTML to be set to "a"
  // value. This unit will then correspond to 1 rem. By default most (all?)
  // browsers are using 16px.
  // We are changing the default to 10px with a 62,5% rule. This allows us to
  // more easily work with rem, because it corresponds to 10px in default
  // browsers.
  // Using 62,5% instead of 10px allows users/browsers to set a different
  // default font size, effectively allowing to nicely zoom the website. This is
  // required for accessibility standards.
  @include font-factor(62.5%);
  @include text-size-adjust(100%);
}

body {
  @extend %reset;
  @extend %font-family-primary;
  @extend %letter-spacing;

  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $color-base-text;
  background-color: $color-base-background;
  font-weight: 300;
}

// SELECTED TEXT
* {
  &::selection {
    color: $color-base-selected-text;
    background: $color-base-selected-text-background;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend %font-weight-500;
  line-height: $base-line-height-heading;
  margin: 0 0 1.2rem;
  color: $petrol;
}

h1, h2 {
  @extend %font-size-h2;
}

//h3 {
//  @extend %font-size-h3;
//}
//
//h4 {
//  @extend %font-size-h4;
//}
//
//h5 {
//  @extend %font-size-h5;
//}
//
//h6 {
//  @extend %font-size-h6;
//}

p {
  margin: 0 0 0.6rem;
}

a {
  @extend %transition-basic;
  @extend %transition-property-cosmetic;
  color: $color-base-link;
  text-decoration: underline;
  //text-decoration-color: $lightgray;
  text-decoration-skip-ink: auto;
  text-decoration-color: lighten($color-base-link, 62%);
  text-underline-position: under;

  //&:active,
  &:focus,
  &:hover {
    color: $color-base-link-hover;
    text-decoration-color: $lightgray;
    //background-color: lighten($darkpetrol, 62%);
  }

  &:focus {
    outline: none;
  }

  img {
    vertical-align: top;

    &:focus {
      outline: none;
    }
  }
}

b,
strong {
  @extend %font-weight-500;
}

em {
  @extend %font-style-italic;
}

ul,
ol {
  padding-left: 2rem;
}


img {
  display: block;
  border: 0;
  outline: 0;
  max-width: 100%;
  height: auto;
}
