@mixin add-background($background-color: inherit) {
  position: relative;
  z-index: 2;

  &::before {
    content: '';
    background: $background-color;
    position: absolute;
    right: -3000px;
    top: 0;
    left: -3000px;
    height: 100%;
    z-index: -2;
  }
}