//
// TEXT SIZE ADJUST
// ---------------------------------------------------------------------
// This file contains the text size adjust mixin.
//

@mixin text-size-adjust($value: none) {
  -webkit-text-size-adjust: $value;
  -moz-text-size-adjust: $value;
  -ms-text-size-adjust: $value;
}
