@import "sass-essentials";

.page-article {
  margin-bottom: 3.2rem;

  &--intro {
    $article-gutter: 2rem;

    display: flex;
    flex-wrap: wrap;
    margin-left: -$article-gutter;
    margin-right: -$article-gutter;

    > * {
      padding-left: $article-gutter;
      padding-right: $article-gutter;
      margin: 1.2rem auto;
    }

    .page-article__content {
      margin-left: 0;
      flex-basis: 36ch;
      min-width: 30rem;
      flex-grow: 1;
    }

    .page-article__visual {
      flex-grow: 0;
      flex-shrink: 0;
    }
  }

  &--tools {}
  &--contact {}
}
