@import "sass-essentials";

.page-article {
  margin-block-end: 4.8rem;

  &--intro {
    display: flex;
    flex-wrap: wrap;
    column-gap: clamp(3.6rem, 8vw, 7.2rem);

    > * {
      margin-block: 1.2rem;
      margin-inline: auto;
    }

    .page-article__content {
      margin-inline-start: 0;
      flex-basis: 36ch;
      min-inline-size: 30rem;
      flex-grow: 1;
    }

    .page-article__visual {
      flex-grow: 0;
      flex-shrink: 0;
    }
  }

  &--tools {}
  &--contact {}
}
