:root {
  $project: fava;

  color-scheme: light dark;

  // Text
  --#{$project}-text: #{$color-base-text};
  --#{$project}-text-selected: #{$color-base-selected-text};

  $text-invert: #{$lightergray};
  $text-invert-selected: #{$white};

  // Accent
  --#{$project}-accent: #{$petrol};
  --#{$project}-accent-selected: #{$petrol};

  $accent-invert: #{$white};
  $accent-invert-selected: #{$petrol};

  // Background
  --#{$project}-background: #{$lightergray};
  --#{$project}-background-hover: #{$color-base-background};
  --#{$project}-background-focus: #{$color-base-background};
  --#{$project}-background-active: #{$white};
  --#{$project}-background-selected: #{$color-base-selected-text-background};

  $background-invert: $darkpetrol;
  $background-invert-hover: $darkpetrol;
  $background-invert-focus: $darkpetrol;
  $background-invert-active: $darkpetrol;
  $background-invert-selected: $petrol;

  // Header
  --#{$project}-header: #{$petrol};

  $header-invert: $darkpetrol;

  // Links
  --#{$project}-link: #{$petrol};
  --#{$project}-link-hover: #{$darkpetrol};
  --#{$project}-link-focus: #{$darkpetrol};
  --#{$project}-link-active: #{$darkpetrol};
  --#{$project}-link-selected: #{$darkpetrol};

  $link-invert: $lightergray;
  $link-invert-hover: $white;
  $link-invert-focus: $white;
  $link-invert-active: $white;
  $link-invert-selected: $white;

  // Decoration
  --#{$project}-decoration: #{$color-base-link-underline};
  --#{$project}-decoration-hover: #{$color-base-link-underline-hover};
  --#{$project}-decoration-focus: #{$color-base-link-underline-hover};
  --#{$project}-decoration-active: #{$color-base-link-underline-hover};
  --#{$project}-decoration-selected: #{$color-base-selected-text-background};

  $decoration-invert: $petrol;
  $decoration-invert-hover: $lightgray;
  $decoration-invert-focus: $lightgray;
  $decoration-invert-active: $lightgray;
  $decoration-invert-selected: $color-base-selected-text-background;

  // Heading
  --#{$project}-heading: #{$petrol};
  --#{$project}-heading-hover: #{$color-base-background};
  --#{$project}-heading-focus: #{$color-base-background};
  --#{$project}-heading-active: #{$petrol};
  --#{$project}-heading-selected: #{$color-base-selected-text-background};

  $heading-invert: $lightergray;
  $heading-invert-hover: $lightergray;
  $heading-invert-focus: $lightergray;
  $heading-invert-active: $petrol;
  $heading-invert-selected: $color-base-selected-text-background;

  // Border
  --#{$project}-border: #{$lightgray};
  --#{$project}-border-hover: #{$lightgray};
  --#{$project}-border-focus: #{$darkpetrol};
  --#{$project}-border-active: #{$darkpetrol};
  --#{$project}-border-selected: #{$darkpetrol};

  $border-invert: $lightgray;
  $border-invert-hover: $white;
  $border-invert-focus: $white;
  $border-invert-active: $white;
  $border-invert-selected: $lightgray;

  // Shadow
  --#{$project}-shadow: #{$petrol};

  $shadow-invert: $petrol;

  // Logo
  --#{$project}-logo: #{$petrol};
  --#{$project}-logo-start: #{$petrol};
  --#{$project}-logo-end: #{$darkpetrol};

  $logo-invert: $white;
  $logo-invert-start: $white;
  $logo-invert-end: $white;

  // Icon
  --#{$project}-icon: #{$petrol};
  --#{$project}-icon-start: #{$petrol};
  --#{$project}-icon-end: #{$darkpetrol};

  $icon-invert: $lightergray;
  $icon-invert-start: $lightergray;
  $icon-invert-end: $lightgray;

  // Status, Good, Strong (limegreen)
  // --fava-text-status: #{xxx};
  // --fava-background-status: #{xxx};

  // --fava-text-invert-status: #{xxx};
  // --fava-background-invert-status: #{xxx};

  // Warning, Fair (gold)
  // --fava-text-warning: #{xxx};
  // --fava-background-warning: #{xxx};

  // --fava-text-invert-warning: #{xxx};
  // --fava-background-invert-warning: #{xxx};

  // Error, Weak (firebrick)
  // --fava-text-error: #{xxx};
  // --fava-background-error: #{xxx};

  // --fava-text-invert-error: #{xxx};
  // --fava-background-invert-error: #{xxx};

  @media (prefers-color-scheme: dark) {
    // Text
    --fava-text: #{$text-invert};
    --fava-text-selected: #{$text-invert-selected};

    // Accent
    --fava-accent: #{$accent-invert};
    --fava-accent-selected: #{$accent-invert-selected};

    // Background
    --fava-background: #{$background-invert};
    --fava-background-hover: #{$background-invert-hover};
    --fava-background-focus: #{$background-invert-focus};
    --fava-background-active: #{$background-invert-active};
    --fava-background-selected: #{$background-invert-selected};

    // Header
    --fava-header: #{$header-invert};

    // Links
    --fava-link: #{$link-invert};
    --fava-link-hover: #{$link-invert-hover};
    --fava-link-focus: #{$link-invert-focus};
    --fava-link-active: #{$link-invert-active};
    --fava-link-selected: #{$link-invert-selected};

    // Decoration
    --fava-decoration: #{$decoration-invert};
    --fava-decoration-hover: #{$decoration-invert-hover};
    --fava-decoration-focus: #{$decoration-invert-focus};
    --fava-decoration-active: #{$decoration-invert-active};
    --fava-decoration-selected: #{$decoration-invert-selected};

    // Heading
    --fava-heading: #{$heading-invert};
    --fava-heading-hover: #{$heading-invert-hover};
    --fava-heading-focus: #{$heading-invert-focus};
    --fava-heading-active: #{$heading-invert-active};
    --fava-heading-selected: #{$heading-invert-selected};

    // Border
    --fava-border: #{$border-invert};
    --fava-border-hover: #{$border-invert-hover};
    --fava-border-focus: #{$border-invert-focus};
    --fava-border-active: #{$border-invert-active};
    --fava-border-selected: #{$border-invert-selected};

    // Shadow
    --fava-shadow: #{$shadow-invert};

    // Logo
    --fava-logo: #{$logo-invert};
    --fava-logo-start: #{$logo-invert-start};
    --fava-logo-end: #{$logo-invert-end};

    // Icon
    --fava-icon: #{$icon-invert};
    --fava-icon-start: #{$icon-invert-start};
    --fava-icon-end: #{$icon-invert-end};

    img {
      filter: brightness(88%);
    }
  }
}
