// Focus
*:focus {}

// Focus with a keyboard
*:focus-visible {
  outline: 0.2rem solid var(--fava-focus-outline, currentColor);
  outline-offset: 0.6rem;
}

// Focus with a mouse, touch, or stylus
*:focus:not(:focus-visible) {
  outline: none;
}
