// Definition of the corporate color scheme in complementary colors.

$petrol: #0C7489;
$darkpetrol: #2E6171;
$lightpetrol: #369BCE;

$violet: #AE73C0;

$lightgray: #d2d2d2;
$lightergray: #FDFDFD;
$white: #FFFFFF;

$gray: #454545;
$darkgray: #080b10;
$darkgray-active: #0B1017;

// The generated black and white colors. You can change them if needed.
@function o2_grays($part) {
  @return unquote("#")+$part+$part+$part;
}
$colors-grays: (
  "black": o2_grays("0"),
  "darkest": o2_grays("37"),
  "darker": o2_grays("6"),
  "dark": o2_grays("b"),
  "gray": o2_grays("c"),
  "light": o2_grays("d"),
  "lighter": o2_grays("e"),
  "lightest": o2_grays("ed"),
  "white": o2_grays("f"),
);

// Debug colors
$debug-color-foreground: rgba(200, 100, 200, 0.2);
$debug-color-background: rgba(100, 200, 200, 0.1);


// BASE OUTPUT
// Only change variable values here.
// All base scss files use only these variable names!

// TEXT & BACKGROUNDS
$color-base-text: $darkpetrol;
$color-base-background: $lightergray;

$color-base-link: $petrol;
$color-base-link-hover: $darkpetrol;
$color-base-link-underline: $lightpetrol;
$color-base-link-underline-hover: $violet;

$color-base-text-invert: $lightgray;
$color-base-background-invert: $petrol;

$color-base-link-invert: $white;
$color-base-link-hover-invert: $white;
$color-base-link-underline-invert: $petrol;
$color-base-link-underline-hover-invert: $petrol;


// SELECTED TEXT COLORS
$color-base-selected-text: $petrol;
$color-base-selected-text-background: lighten($darkpetrol, 62%);


// STATES, MESSAGES COLORS (do not change)
$messages-factor: 55%;

$color-base-error: firebrick;
$color-base-error-background: lighten($color-base-error, $messages-factor);

$color-base-warning: gold;
$color-base-warning-background: $color-base-background;

$color-base-status: limegreen;
$color-base-status-background: $color-base-background;



// EXTRA COLORS
$color-base-shadow: rgba(0, 0, 0, 0.5);
$color-base-border: map-get($colors-grays, "dark");

//$color-base-text-secondary: map-get($colors-grays, "gray");
//$color-base-link-secondary: map-get($colors, "secondary");
//$color-base-link-hover-secondary: darken(map-get($colors, "secondary"), $factor);
//$color-base-background-secondary: map-get($colors-grays, "black");
//$color-base-border-secondary: map-get($colors-grays, "darker");
//$color-base-border: map-get($colors-grays, "darker");
