.container {

  // Horizontal container
  @include contain();

  // Debugging styling
  @if $enable-debugging == true {
    border-inline: thick dashed $debug-color-foreground;
  }

  // Nested containers
  .container {
    max-inline-size: 100%;
    padding-inline: 0;

    @if $enable-debugging == true {
      border-inline-width: 0;
    }
  }
}
